@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
  --text: white
  
}

body {
font-family: 'Comfortaa', cursive!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  font-size: 2vh;
}
